.courseCard {
    border: 1px solid grey;
    padding: 10px;
    display: flex;
    margin-top: 10px;
    width: 100%;
}

.courseCard__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: auto;
    background-color: rgba(34, 139, 34, 0.1);
    padding: 10px;
}

.courseCard__info {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: rgba(144, 238, 144, 0.1);
    padding: 10px;
    justify-content: space-between;
}

@media only screen and (max-width: 601px) {
    .courseCard {
        flex-direction: column;
        align-items: center;
    }

    .courseCard__info {
        width: 100%;
    }
}