.btn {
    padding: 7px 14px;
    background-color: purple;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
}

.btn:hover {
    background-color: rgba(128, 0, 128, 0.7);
}

.btn:hover {
    background-color: rgba(128, 0, 128, 0.9);
}

.red {
    background-color: red;
}

.red:hover {
    background-color: rgba(255, 0, 0, 0.7);
}

.red:active {
    background-color: rgba(255, 0, 0, 0.9);
}

.blue {
    background-color: blue;
}

.blue:hover {
    background-color: rgba(0, 0, 255, 0.7);
}

.blue:active {
    background-color: rgba(0, 0, 255, 0.9);
}

.green {
    background-color: green;
}

.green:hover {
    background-color: rgba(0, 128, 0, 0.7);
}

.green:active {
    background-color: rgba(0, 128, 0, 0.9);
}