* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(158, 158, 158, 0.5);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}